<div class="container">
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary mt-3" id="dropdownBasic1" ngbDropdownToggle>Select a Brewer</button>
        <button (click)="selectBrewer($event)" class="btn btn-outline-primary" ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button  ngbDropdownItem *ngFor="let brewer of uniqueBrewers">{{ brewer }}</button>
        </button>
      </div>
    </div>
  </div>
</div>

<ul *ngFor="let beer of brewerBeers">
  <li>{{ beer.name }}</li>
</ul>
